:root {
  --black: #000;
  --light: #fafafa;
  --light-green: #ccdad0;
  --light-red: #f8baba;
  --dark-red: #ff7070;
  --gray: #252c30;
  --primary: var(--light-red);
  --secondary: var(--dark-red);
  --primary: var(--light-purple);
  --secondary: var(--light-green);
  /*Typography */
  --h1: 4.5rem;
  --h2: 3.1rem;
  --h3: 2.1rem;
  --h4: 1.5rem;
}
.warm {
  --primary: var(--light-red);
  --secondary: var(--dark-red);
}
.cool {
  --primary: var(--light);
  --secondary: var(--light-green);
}

.main {
  background-color: var(--primary);
}
.second {
  background-color: var(--secondary);
}

body {
  background-color:var(--primary);
  background-color:var(--secondary);
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

form{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
button{
  text-align: center;
  margin:2%;
  display: inline-block;
  align-items: center;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: var(--secondary);
}

button:hover {
  border-color: black;
}

button:focus, button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.flex-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem
}

.buttons{
  display: flex;
  margin-bottom:2rem;
  justify-content: space-around;
  flex-wrap: wrap;
  position: relative;
  text-align: center;
}

.card {
  background-color: var(--secondary);
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  transition:.8s ease-in;
  position: relative;
  width: 20%;
  height: auto;
  text-align: center;
}

.card-img{
  display: block;
  width: 100%;
}


h1{
  text-align:center;
  font-size:var(--h1);
  background-color:var(--secondary);;
  margin-top:0;
}

h2{
  font-size:var(--h2);
}

h3{
  font-size:var(--h3);
}

.link{
  text-align:center;
  font-size:var(--h3);
  margin-top:0;
}

.pokemon{
  width: 70%;
}

@media screen and (max-width: 1200px) {
  .card{
          width:40%;
      }
      
  }
  @media screen and (max-width: 800px) {
      .card{
          width:100%;
      }
  }
  